{% extends 'base.html' %}

{% block content %}

<div class="relative">
  {% if messages %}
    <div class="absolute left-0">
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="mt-4 ml-2 flex items-center rounded-md bg-green-500 border-l-4 border-green-700 py-2 px-3 shadow-md transition ease-in-out hover:scale-110">
            <div class="text-green-500 rounded-full bg-white mr-3">
              <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
              </svg>
            </div>
            <div class="text-white max-w-xs mr-2">
              {{ message }}
            </div>
          </div>
        {% else %}
          <div class="mt-4 ml-2 flex w-70 bg-red-500 items-center rounded-md border-l-4 border-red-700 py-2 px-3 shadow-md transition ease-in-out hover:scale-110">
            <div class="text-red-500 rounded-full bg-white mr-3">
              <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
              </svg>
            </div>
            <div class="text-white max-w-xs mr-2">
              {{ message }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="sticky top-0">
    <div class="py-4 bg-gray-900 px-56 flex justify-between">
      <h1 class="inline font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-blue-600 to-red-600">
        Todolist
      </h1>
      <div class="flex">
        <button class="bg-red-600 text-white px-4 py-2 rounded-md shadow-md transition ease-in-out bg-gradient-to-r from-blue-600 to-red-600 text-white hover:scale-110" onclick="location.href='/todolist/create-task'" type="button">
          New Task
        </button>
        <button class="ml-4 text-red-600 px-4 py-2 rounded-md transition ease-in-out hover:scale-110 border-red-600 border-2" onclick="location.href='/todolist/logout'" type="button">
          Logout
        </button>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="mx-72 w-full mt-6">
      <h1>
        {{ num_of_tasks }} tasks
      </h1>
      {% for task in tasks %}
        <div class="mt-2 py-4 px-6 bg-gray-100 items-center justify-between rounded-md flex transition ease-in-out hover:scale-105 hover:bg-gray-200">
          <div class="flex items-center">
            <div class="transition ease-in-out hover:scale-110">
              {% if task.done %}
                <a href="{% url 'todolist:mark_done' id=task.pk %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10.041 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591zm-5.041-15c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-14c0-1.654-1.346-3-3-3h-14zm19 3v14c0 2.761-2.238 5-5 5h-14c-2.762 0-5-2.239-5-5v-14c0-2.761 2.238-5 5-5h14c2.762 0 5 2.239 5 5z"/></svg>
                </a>
              {% else %}
              <a href="{% url 'todolist:mark_done' id=task.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 2c-1.654 0-3 1.346-3 3v14c0 1.654 1.346 3 3 3h14c1.654 0 3-1.346 3-3v-14c0-1.654-1.346-3-3-3h-14zm19 3v14c0 2.761-2.238 5-5 5h-14c-2.762 0-5-2.239-5-5v-14c0-2.761 2.238-5 5-5h14c2.762 0 5 2.239 5 5z"/></svg>
              </a>
              {% endif %}
            </div>
            <div class="ml-6">
              <h2 class="font-bold">
                {{ task.title }}
              </h2>
              <p class="text-blue-600">
                {{ task.date }}
              </p>
              <p class="text-gray-500">
                {{ task.description }}
              </p>
            </div>
          </div>
          <form action="{% url 'todolist:delete' id=task.pk %}">
            <button class="text-red-600 p-2 rounded-md transition ease-in-out hover:scale-110" type="submit">
              Delete
            </button>
          </form>
        </div>
      {% endfor %}
    </div>
  </div>
  <footer class="mx-72 mt-10 p-4 shadow ">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="flex justify-center">
      <div class="block mt-4 text-sm text-gray-500 text-center">
        © 2022 
        <a href="/me"">Daniel Christian M</a>
        . All Rights Reserved.
    </div>
  </footer>
</div>

{% endblock content %}
