{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="relative">
  <div id="drawer" class="fixed inset-y-0 right-[-250px] z-40 h-screen p-4 shadow-lg text-white backdrop-blur-md bg-gray-900/30 w-[250px] duration-300">
    <div class="flex justify-between mt-1 mr-2">
      <div></div>
      <button id="drawer-close-button" type="button" class="transition ease-in-out hover:scale-110">
        <?xml version="1.0" ?><svg viewBox="0 0 30 30" height="40" width="40" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#4A5568;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
      </button>
    </div>
    <div class="mt-20 w-full">
      <!-- <button class="py-4 w-full text-white bg-gradient-to-r from-blue-600 to-red-600 rounded-md text-2xl transition ease-in-out hover:scale-105" onclick="location.href='/todolist/create-task'" type="button">
        New Task
      </button> -->
      <button id="new-task-open-button" class="py-4 w-full text-white bg-gradient-to-r from-blue-600 to-red-600 rounded-md text-2xl transition ease-in-out hover:scale-105">
        New Task
      </button>
      <button class="mt-4 py-4 w-full border-2 border-red-600 text-red-600 rounded-md text-2xl transition ease-in-out hover:scale-105" onclick="location.href='/todolist/logout'" type="button">
        Logout
      </button>
    </div>
  </div>
  <div id="new-task-modal" class="hidden h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50">
    <div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/3 w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 bg-white rounded-md">
      <div class="flex justify-between items-center border-b-2 border-gray-300 p-4">
        <h1 class="text-xl font-bold">
          New Task
        </h1>
        <button id="new-task-close-button" type="button" class="bg-white rounded-md inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-inset focus:ring-indigo-500">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="p-4 w-full flex justify-center">
        <form id="new-task-form" class="w-full">
          {% csrf_token %}
          <div class="w-full">
            <table class="w-full">
              <tr>
                <td>Title </td>
                <td class="pl-4">
                  <input type="text" name="title" placeholder="Title" class="form-control rounded-md w-full">
                </td>
              </tr>
              <tr>
                <td>Description </td>
                <td class="pl-4">
                  <textarea name="description" placeholder="Description" class="form-control rounded-md w-full"></textarea>
                </td>
              </tr>
              <tr>
                <td>Date </td>
                <td class="pl-4">
                  <input type="date" name="date" placeholder="Date" class="form-control rounded-md w-full">
                </td>
              </tr>
            </table>
            <button type="submit" class="submit mt-4 px-4 py-2 bg-gradient-to-r from-blue-600 to-red-600 text-white rounded-md">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="sticky top-0">
    <div class="py-4 px-7 md:px-14 lg:px-28 xl:px-72 bg-gray-900 flex justify-between items-center">
      <h1 class="inline font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-blue-600 to-red-600">
        Todolist
      </h1>
      <button id="drawer-open-button" type="button" class="transition ease-in-out hover:scale-110">
        <?xml version="1.0" ?><svg fill="none" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
      </button>
    </div>
  </div>
  <div class="flex justify-center">
    <div id="tasks-section" class="mx-7 md:mx-14 lg:mx-28 xl:mx-72 w-full mt-6">
      
    </div>
  </div>
  <footer class="mx-7 md:mx-14 lg:mx-28 xl:mx-72 mt-10 p-4 shadow ">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="flex justify-center">
      <div class="block mt-4 text-sm text-gray-500 text-center">
        © 2022 
        <a href="/me"">Daniel Christian M</a>
        . All Rights Reserved.
    </div>
  </footer>
</div>
<div class="hidden bg-gray-100 right-[-250px] right-0 bg-gray-200 items-center justify-between rounded-md flex transition ease-in-out hover:scale-105 hover:bg-gray-200 transition ease-in-out hover:scale-110 font-bold transition ease-in-out hover:scale-105 hover:bg-gray-200"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'todolist.js' %}"></script>

{% endblock content %}
