body {
  /* padding: 0 1rem 1rem 1rem; */
}

.title-container {
  display: inline-block;
}

.title {
  background: linear-gradient(90deg, rgba(251,10,10,1) 0%, rgba(0,76,255,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-right: 0;
}

.identity {
  /* display: inline-block;
  margin-top: 10px;
  padding: 2px 20px;
  border: 2px solid;
  border-radius: 5px; */
}

.table {
  margin-top: 40px;
  background-color: black;
}

.table-cell {
  background-color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.table-header-cell {
  background-color: greenyellow;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.checkbox {
  height: 20px;
  width: 20px;
}

.button-container {
  margin-top: 10px;
}

.button {
  padding: 5px 10px;
  /* background-color: greenyellow; */
  border-radius: 5px;
  font-size: large;
}

.message-box-green {
  display: inline-block;
  margin-top: 45px;
  padding: 2px 20px;
  border: 2px solid;
  border-radius: 5px;
  border-color: green;
  background-color: lightgreen;
}

.message-box-red {
  display: inline-block;
  margin-top: 45px;
  padding: 2px 20px;
  border: 2px solid;
  border-color: red;
  border-radius: 5px;
  background-color: pink;
}

.svg-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.svg {
  height: 40px;
  width: 40px;
}